.footer {
  background-color: #303030;
  color: color(text-white);
  padding-top: 90px;
  font-family: "Raleway", sans-serif;
  .row,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4 {
    margin: 0;
    padding: 0;
  }

  &-one {
    padding-bottom: 48px !important;
    // .footer__blocks.footer__blocks--about.col-lg-3 {
    padding-left: 13px !important;
    // }
  }

  &__blocks {
    padding: 90px 0px 48px 0;
    &--header {
      font-family: "Raleway", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 36px;
      // text-align: center;

      color: color(text-white);
    }

    &--content {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        // margin: 0 0 10px 0;
        padding: 0;

        a {
          color: color(text-white);
          letter-spacing: 0.035em;
          // text-decoration: underline !important;
        }
      }
    }

    &--about {
      margin-right: 52px;
    }

    &--quick-links {
      // padding-left: 32px !important;
      margin-left: 100px !important;

      padding-right: 0px !important;
      padding-left: 0px !important;
    }

    &--contact {
      margin-left: 0px !important;

      padding-right: 0px !important;
      padding-left: 0px !important;

      .icon {
        font-size: 18px;
      }
    }

    &--social-media {
      // margin-left: 100px !important;
      // margin-left: 0px !important;
      padding-right: 0px !important;
      padding-left: 0px !important;

      .icon {
        font-size: 30px;
      }
    }
  }

  &__bottom {
    border-top: 0.5px solid color(text-white);
    padding: 14px 0;

    &--center {
      text-align: center;

      span,
      p {
        font-family: "Raleway", sans-serif;
        font-weight: normal;
        font-size: 14px;
        line-height: 27px;
      }

      p {
        margin-bottom: 0;
      }
    }
  }
}

@media only screen and (max-width: 1400px) {
  .footer__blocks.footer__blocks--quick-links.col-lg-3 {
    margin-left: 50px !important;
  }
}
@media only screen and (max-width: 1024px) {
  .footer__blocks.footer__blocks--social-media.col-lg-2 {
    margin-left: 20px;
  }
}

@media only screen and (max-width: 992px) {
  .footer__blocks.footer__blocks--quick-links.col-lg-3,
  .footer__blocks.footer__blocks--social-media.col-lg-2 {
    margin-left: 25px !important;
  }

  .footer__blocks.footer__blocks--about.col-lg-3,
  .footer__blocks.footer__blocks--quick-links.col-lg-3,
  .footer__blocks.footer__blocks--contact.col-lg-3,
  .footer__blocks.footer__blocks--social-media.col-lg-2 {
    margin: 20px 0;
  }
}

@media only screen and (max-width: 768px) {
  .footer {
    &__blocks {
      padding: 20px;

      &--about {
        padding-left: 20px !important;
      }
      &--quick-links {
        padding-left: 20px !important;
      }

      &--contact {
        padding-left: 20px !important;
      }

      &--social-media {
        padding-left: 20px !important;
      }
    }
  }

  .footer__blocks.footer__blocks--quick-links.col-lg-3,
  .footer__blocks.footer__blocks--social-media.col-lg-2 {
    margin-left: 0px !important;
  }
}

.mb-10 {
  margin-bottom: 10px;
}

.mr-13 {
  margin-right: 26px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 28px;
}
